# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
ENV/
env/

# Environment variables and secrets
.env
*.env
.env.*
config.ini
secrets.json
secrets.yaml

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Private files specific to this project
private_keys.py
private_config.json
project_notes_private.md

# Large directories
static/ace-builds-master/
.mypy_cache/ 